<!--The content below is only a placeholder and can be replaced.-->
<div>
<mat-form-field>
  <input matInput placeholder="Name" [(ngModel)]="studentDetails.studentName">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Age" [(ngModel)]="studentDetails.studentAge">
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Grade" [(ngModel)]="studentDetails.studentGrade">
</mat-form-field>
<button mat-raised-button (click)="addStudent()" color="primary">Add</button>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Name Column -->
    
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.studentName}} </mat-cell>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="Age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.studentAge}} </mat-cell>
    </ng-container>

    <!-- Grade Column -->
    <ng-container matColumnDef="Grade">
      <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.studentGrade}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

